<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
       
    <title><%= title %></title>
    
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-easyui-1.4.5/themes/default/easyui.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-easyui-1.4.5/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-easyui-1.4.5/demo/demo.css">
  <script type="text/javascript" src="/javascripts/jquery-easyui-1.4.5/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>

</head>
  
<body class="easyui-layout">

<div region="west" split="true" border="false" style="width:25%"> 
  <div class="easyui-layout" fit="true">
    <div region="north" collapsible="false" split="true" border="false" style="height:50%">
      <div id="elementsTabs" class="easyui-tabs" justified="true" narrow="true" style="height:100%">
        <div title="LUN" style="padding:10px">
          <ul id="lun" data-options="checkbox:true"></ul>
            <SCRIPT type="text/javascript">
              $('#lun').tree({
               data:[
                      {
                      "id":1,
                      "text":"lun 1",
                      },{
                      "id":2,
                      "text":"lun 2",
                      },{
                      "id":3,
                      "text":"lun 3",
                      }
                    ],
              onClick: function(node) {
                $('#attr').tree({
               data:[{
                     "id":1,
                     "text":"Folder2",
                    },{
                      "text":"Languages1",
                    },{
                      "text":"..."
                    }]
              });
               },
               onContextMenu: function(e,node){
          e.preventDefault();
          $(this).tree('select',node.target);
          $('#mm').menu('show',{
            left: e.pageX,
            top: e.pageY
          });
        }
             });
            </SCRIPT>
        </div>
        <div title="Storage Pool" style="padding:10px">
          <ul id="pool"></ul>
            <SCRIPT type="text/javascript">
              $('#pool').tree({
               data:[
  {
  "id":1,
  "text":"Pool 0",
  "attribute":"Pool",
  "children":[
    {
    "text":"lun 1",
    "attribute":"Lun"
    },{
    "text":"lun 2",
    "attribute":"Lun"
    },{
    "text":"RG 1",
    "state": "closed",
    "children":[{
      "text":"disk 1",
      "attribute":"Disk"
      },{
      "text":"disk 2",
      "attribute":"Disk"
      }]  
    },{
    "text":"RG 2",
    "children":[{
      "text":"disk 1",
      "attribute":"Disk"
      },{
      "text":"disk 2",
      "attribute":"Disk"
      }]
    }]
  },{
  "id":2,
  "text":"Pool 1",
  "children":[
    {
    "text":"lun 1"
    },{
    "text":"lun 2"  
    },{
    "text":"RG 1",
    "children":[{
      "text":"disk 1"
      },{
      "text":"disk 2"
      }]  
    },{
    "text":"RG 2",
    "children":[{
      "text":"disk 1"
      },{
      "text":"disk 2"
      }]
    }]
  }
],
checkbox: function(node) {
  if (node.id != 1) {
    return true;
  }
}
             });
            </SCRIPT>
        </div>
        <div title="SP" style="padding:10px">
          <ul id="SP" data-options="checkbox:true"></ul>
            <SCRIPT type="text/javascript">
              $('#SP').tree({
               data:[{
                     "id":1,
                     "text":"SP A",
           "attribute":"SP",
                     "children":[{
                           "text":"Port 0",
               "attribute":"Port"
                           },{
                           "text":"Port 1",
               "attribute":"Port"
                           },{
               "text":"Port 2",
               "attribute":"Port"
               },{
               "text":"Port 3",
               "attribute":"Port"
               },{
               "text":"Port 4",
               "attribute":"Port"
               }]
                    },{
            "id":2,
                         "text":"SP B",
             "attribute":"Port",
                         "children":[{
                         "text":"Port 0",
             "attribute":"Port"
                         },{
                         "text":"Port 1",
             "attribute":"Port"
                         },{
             "text":"Port 3",
             "attribute":"Port"
             },{
             "text":"Port 4",
             "attribute":"Port"
             }]
                    }]
             });
            </SCRIPT>
        </div>
      </div>
 
    </div>

    <div data-options="region:'center'" title="Attributes" style="padding:5px">
        <ul id="attr" data-options="checkbox:true"></ul>
            <SCRIPT type="text/javascript">
              $('#attr').tree({
               data:[{
                     "id":1,
                     "text":"Folder1",
                    },{
                      "text":"Languages",
                    },{
                      "text":"..."
                    }]
              });

                function getChecked(){
                  var nodes = $('#attr').tree('getChecked');
                  var s = '';
                  for(var i=0; i<nodes.length; i++){
                    if (s != '') s += ',';
                    s += nodes[i].text;
                  }
                  alert(s);
                }

            </SCRIPT>
    </div>
  </div>
</div>

<div data-options="region:'center'" title="Charts">
           
</div>

<div id="mm" class="easyui-menu">
  <div iconCls="icon-add">Expand</div>
  <div iconCls="icon-remove">Collapse</div>
  <div class="menu-sep"></div>
  <div iconCls="icon-ok">Select All</div>
  <div iconCls="icon-cancel">De-select All</div>
</div>

</body>

</html>