<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
       
    <title><%= title %></title>
    

  </head>
  
  <body>


<link rel="stylesheet" href="/stylesheets/demo.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/zTreeStyle.css" type="text/css">
<script src="/javascripts/jquery-1.11.3.min.js"></script>
<script src="/javascripts/jquery.ztree.core-3.5.js"></script>
<script src="/javascripts/jquery.ztree.excheck-3.5.js"></script>


  <SCRIPT type="text/javascript">
    var setting = {
      check: {
        enable: true
      },
      data: {
        simpleData: {
          enable: true
        }
      }
    };


    var zElementNodes =[
      { id:1, pId:0, name:"SPs", nocheck:true, open:true},
      { id:11, pId:1, name:"SPA", checked:true, open:true},
      { id:111, pId:11, name:"Ports", nocheck:true, open:true},
      { id:12, pId:1, name:"SPB", open:true},
      { id:121, pId:12, name:"Ports", nocheck:true, open:true},
      { id:2, pId:0, name:"Pools", nocheck:true, open:true},
      { id:21, pId:2, name:"list pools here", open:true},
      { id:3, pId:0, name:"luns", nocheck:true, open:true},
      { id:31, pId:3, name:"list luns here", open:true},
      { id:4, pId:0, name:"RGs", nocheck:true, open:true},
      { id:41, pId:4, name:"list RGs here", checked:true, open:true}
    ];


    var zSPAttributeNodes =[
      {id:1, pId:0, name:"SP attributes1"},
      {id:2, pId:0, name:"SP attributes2"}
    ];

    var zPortsAttributeNodes =[
      {id:1, pId:0, name:"Ports attributes1"},
      {id:2, pId:0, name:"Ports attributes2"}
    ];

    var zPoolsAttributeNodes =[
      {id:1, pId:0, name:"Pools attributes1"},
      {id:2, pId:0, name:"Pools attributes2"}
    ];

    var zLunsAttributeNodes =[
      {id:1, pId:0, name:"Luns attributes1"},
      {id:2, pId:0, name:"Luns attributes2"}
    ]; 

    var zRGsAttributeNodes =[
      {id:1, pId:0, name:"RGs attributes1"},
      {id:2, pId:0, name:"RGs attributes2"}
    ]; 

    var code;

    function setCheck() {
      var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
      py = $("#py").attr("checked")? "p":"",
      sy = $("#sy").attr("checked")? "s":"",
      pn = $("#pn").attr("checked")? "p":"",
      sn = $("#sn").attr("checked")? "s":"",
      type = { "Y":py + sy, "N":pn + sn};
      zTree.setting.check.chkboxType = type;
      showCode('setting.check.chkboxType = { "Y" : "' + type.Y + '", "N" : "' + type.N + '" };');
    }
    function showCode(str) {
      if (!code) code = $("#code");
      code.empty();
      code.append("<li>"+str+"</li>");
    }

    $(document).ready(function(){
      $.fn.zTree.init($("#elements"), setting, zElementNodes);
      $.fn.zTree.init($("#attributes"), setting, zSPAttributeNodes);
      setCheck();
      $("#py").bind("change", setCheck);
      $("#sy").bind("change", setCheck);
      $("#pn").bind("change", setCheck);
      $("#sn").bind("change", setCheck);
    });
  </SCRIPT>



<h1>Checkbox Operation</h1>
<h6>[ File Path: excheck/checkbox.html ]</h6>
<div class="content_wrap">
  <div class="zTreeDemoBackground left">
    <ul id="elements" class="ztree"></ul>
  </div>

  <div class="zTreeDemoBackground left">
    <ul id="attributes" class="ztree"></ul>
  </div>

</div>

</body>

</html>