<h1> Changelog </h1>
<h2> Initial version: upload, csv, mongodb, sort, chart.js</h2>
<h2> ... </h2>

<hr />

<h2> features need to do: </h2>
<p> - support session (remember NAR file on this page so we could access DB multiple time) </p>
<p> - support check exist NAR file (avoid upload and access DB directly) (further we could show up exist same array NAR file and let user to select) </p>
<p> - better user interaction on web page (notify current process of uploading, analyzing, .... on page)
<p> - mongoose </p>
<p> - highcharts </p>
<p> - analyze page support selection for different metrics and show charts (like unisphere) </p>
<p> - debug framework setup </p>
<p> - spcollects configuration show up </p>
<p> - RBA </p>
<p> - support search function in home page to detect exist NAR file in DB </p>
<p> ... </p>
