		<hr /> 
		<footer> 
		<p><a href="/changelog" target="_blank">Penzha</a> 2015-2016</p> 

		<h1> *** TODO List *** </h1>

		<h3> - async control </h3>
		<p> access mongodb to get config xml file need to use async control to get better code structure. 
			response for getjson need to use async control to return data to front end after we get data from mongodb </p>

		<h3> - change 'LUN' tab to 'FastCache' tab. Show fast cache disks/luns performance. Do not support RG luns now. </h3>

		<h3> - mongoose </h3>

		<h3> - mongodb Map-Reduce </h3>

		<h3> - easyUI </h3>
		<p> Lazy Load Tree Node (what this could faster webpage load?) </p>
		<p> easyUI search box </p>

		<h3> - Add summary/threshold for typical performance metrics </h3>

		<h3> - Add known issue detection and alertion </h3>

		<h3> - bugfix: </h3>
		<p> select large configuration caused wrong result? dead loop? </p>
		<p> ...... </p>

		</footer> 
	</div>
  </body>  
</html>